extends layout

block content
  h1= title
  p Welcome to #{title}

  button(type="button" onclick='location.href="/posts/create"') Create A Post

  ul
    for post in posts
      - const { id, title, description } = post
      li(onclick='location.href="/posts/#{id}"')
          h4= title
          p= description
    else
      li No Posts